<section>
  <label>Date</label>
  <span><%= payment.date %></span>
</section>
<section>
  <label>Receipt number</label>
  <span><%= payment.receipt_number %></span>
</section>
<section>
  <label>Amount</label>
  <span><%= payment.amount %></span>
</section>
